.gradle
.settings
.idea
build
bin
epkcompiler/bin
spigot-server/world*
eaglercraftbungee/rundir
lwjgl-rundir/_eagstorage*
sp-server/.gradle
sp-server/.settings
sp-server/build
sp-server/bin
lwjgl-rundir/_eagstorage*
lwjgl-rundir/resources
lwjgl-rundir/packs
*.bak
sp-relay/out
sp-relay/test
sp-relay/.idea
sp-relay/src/main/java/META-INF
zip-generator/out
zip-generator/src/META-INF
*.iml
crash_report_override.txt